#// in case of open sourcing this must be removed
#// all the related @sclable packages must be open sourced too
#registry=https://npm.sclable.com

# use verdaccio in docker
# $ docker pull verdaccio/verdaccio
# $ docker run --rm --name verdaccio -d -p 4873:4873 verdaccio/verdaccio
@sclable:registry=http://localhost:4873

